
<!DOCTYPE html>
<html>
<head>
    <title>Feedback Form</title>
    <style>
        label {
            display: block;
            margin-top: 10px;
        }
        input[type="text"],
        textarea {
            width: 300px;
        }
        input[type="submit"] {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <li><a href="/">Главная страница</a></li> 

    <h1>Приобрести</h1>

   <table>
        <td>
            <p>Наименование: {{ product.title }}</p>
            <p>Категория: <a href="/category/{{ product.categories }}/">{{ product.categories }}</a></p>
            <p>Кол-во страниц: {{ product.pageCount }}</p>
            <p>SKU: {{ product.isbn }}</p>
        </td>

        <td>
            {% if product.thumbnailUrl %}
                <img src="{{ product.thumbnailUrl.url }}" alt="Загруженное изображение">
            {% else %}
                <img src="https://media.istockphoto.com/id/1452662817/vector/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=612x612&w=0&k=20&c=bGI_FngX0iexE3EBANPw9nbXkrJJA4-dcEJhCrP8qMw=" alt="" width="300" height="300"/>
            {% endif %} 
        </td>
        
        <td align="right">
            <form action="/application/">
                <button type="submit">Оставить заявку</button>
            </form>           
        </td>

    </table>
    

    

    <h1>Рекомендуем</h1>

    <table>
        <tr>
            {% for book in books %}
            {% if forloop.counter|divisibleby:3 %}<tr>{% endif %}
                <td><a href="/book/{{ book.isbn }}/">{{ book.title }} - {{ book.authors }}</a></td> 
                {% if book.thumbnailUrl %}
                <td><img src="{{ book.thumbnailUrl.url }}" alt="Загруженное изображение"> </td>
                {% else %}
                <td><img src="https://media.istockphoto.com/id/1452662817/vector/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=612x612&w=0&k=20&c=bGI_FngX0iexE3EBANPw9nbXkrJJA4-dcEJhCrP8qMw=" alt="" width="300" height="300"/> </td>
                {% endif %} 
            {% empty %}
                <li><p>No books found.</p></li>
            {% endfor %}
        </tr>
    </table>



</body>
</html>
